.dialog__overlay {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.dialog-wrapper {
  display: flex;
  align-items: center;
}

.dialog {
  border: none;
  background-color: var(--element-bg);
  padding: 1.2rem;
  border-radius: 28px;
  z-index: 20;
}

.dialog img {
  max-width: 300px;
  border-radius: 22px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.dialog__info * {
  margin: 0;
}

.dialog__info p {
  font-size: var(--step-0);
}

.dialog__info h2 {
  font-size: var(--step-1);
}

.dialog__info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin: 1rem 0;
}

.dialog__buttons-wrapper {
  margin-top: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.dialog__button {
  color: white;
  font-size: var(--step--1);
  background-color: var(--text-base);
  border: none;
  border-radius: 20px;
  padding: 0.5rem 0.8rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0.95;
}

.dialog__button:hover {
  opacity: 1;
}

.dialog__button:disabled {
  opacity: 0.7;
  cursor: unset;
}

/* Responsive adjustments */

@media (min-width: 1600px) {
  .dialog img {
    max-width: 400px;
  }
}

@media (max-width: 420px) {
  .dialog {
    padding: 0.8rem;
  }

  .dialog img {
    width: unset;
  }

  .dialog__info {
    margin: 0.5rem 0;
  }

  .dialog__buttons-wrapper {
    flex-direction: column;
  }

  .dialog__buttons-wrapper button {
    font-size: var(--step--1);
  }
}

@media (max-height: 615px) Or (max-width: 380px) {
  .dialog img {
    object-fit: cover;
    width: 100%;
    max-width: unset;
    max-height: 200px;
  }
}

@media (max-height: 500px) And (max-width: 430px) {
  .dialog img {
    max-height: 150px;
  }
}
