.section {
  padding: 0 var(--padding);
}

.hero {
  composes: section;
}

.hero__title {
  font-size: var(--step-3);
  margin-top: 0;
}

.hero__nav ul {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.hero__nav a {
  font-size: var(--step-1);
  background-color: var(--text-base);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 40px;
  opacity: 0.95;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  line-height: 1.9;
}

.hero__nav a:hover {
  opacity: 1;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
}

/* Responsive adjustments */

@media (max-width: 850px) {
  .cards-grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.2rem;
  }
}

@media (max-width: 450px) {
  .cards-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}
