.footer {
  background-color: var(--element-bg);
  padding: 5rem 2rem;
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.2);
  margin-top: 6rem;
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.footer__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.footer__brand h2 {
  font-size: var(--step-3);
  margin: 0;
  margin-bottom: 0.5rem;
}

.footer__follow-us {
  font-size: var(--step-1);
  margin: 0;
  margin-bottom: 0.5rem;
}

.footer__brand ul {
  display: flex;
  gap: 0.8rem;
}

.footer__brand i {
  font-size: var(--step-2);
  color: var(--text-secondary);
  opacity: 0.9;
  cursor: pointer;
}

.footer__brand i:hover {
  opacity: 1;
}

/* Links styles */

.footer__links {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.footer__links-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__links-section h3 {
  font-size: var(--step-1);
  margin: 0;
}

.footer__links-section ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__links-section li {
  font-size: var(--step-0);
  color: var(--text-secondary);
  cursor: pointer;
}

.footer__links-section li:hover {
  text-decoration: underline;
}

/* Responsive */

@media (max-width: 1000px) {
  .newsletter-input button {
    padding: 0.5rem 1rem;
  }

  .footer__content {
    justify-content: space-between;
    gap: 0;
  }

  .footer__links {
    gap: 3rem;
    flex: 1;
  }
}

@media (max-width: 860px) {
  .footer {
    padding: 2.5rem 1rem;
  }

  .footer__content {
    flex-direction: column;
    gap: 3rem;
  }

  .footer__links {
    gap: 4rem;
    justify-content: space-between !important;
  }
}

@media (max-width: 660px) {
  .footer__links {
    gap: 2rem;
  }
}

@media (max-width: 550px) {
  .footer {
    padding: 2.5rem;
  }

  .footer__content {
    align-items: start;
  }

  .footer__brand {
    flex: 1;
    gap: 2rem;
    flex-direction: row;
  }

  .footer__links {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 520px) {
  .footer {
    margin-top: 6rem;
  }

  .footer__brand {
    width: 100%;
    gap: unset;
    justify-content: space-between;
  }
}

@media (max-width: 415px) {
  .footer {
    padding: 2rem 1rem;
  }

  .footer__content {
    gap: 2rem;
  }

  .footer__brand {
    flex-direction: column;
    align-items: start;
  }
}
