.header {
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: 3rem;
}

.header__content {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  background-color: white;
  padding: 1.5rem var(--padding);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  background-color: #e1e1e1;
}

.header__content h1 {
  font-size: var(--step-2);
  margin: 0;
}

.header__content nav ul {
  display: flex;
  gap: 1rem;
}

.header__content nav a {
  font-size: var(--step-0);
}

.header__content nav a:hover {
  text-decoration: underline;
}

/* Responsive adjustments */

@media (max-width: 600px) {
  .header__content {
    gap: 2rem;
    justify-content: space-between;
  }
}
