.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  padding: 1rem var(--padding);
  background-color: white;
  border-radius: 0 0 40px 40px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  margin: var(--padding);
  margin-top: 0;
  background-color: #e1e1e1;
}

.header h1 {
  font-size: var(--step-2);
  margin: 0;
}

.header nav ul {
  display: flex;
  gap: 1rem;
}

.header nav a {
  font-size: var(--step-0);
}

.header nav a:hover {
  text-decoration: underline;
}
